footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: black;
    height: 7vh;
    width: 100%;
    display: none;
    padding: 2rem 0rem;
    
}

.navbar-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.icons {
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    footer {
        display: block;
    }
  }
